/* Author: Che Sampat */

* {
  transition: 0.25s;
}

.root-body {
  margin-top: 85px;
  width: 100%;
  height: fit-content;
}

.card {
  margin: 10px;
}

.land {
  background-image: url("/images/elec-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-filter: grayscale(100%);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3em;
  text-align: center;
  padding-top: 8%;
  padding-bottom: 8%;
}

.space {
  background-image: url("/images/elec-img.jpg");
  -webkit-filter: grayscale(100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.services {
  height: fit-content;
  background-color: white;
}

.card-head {
  font-size: 43px;
  float: left;
}

.card,
.card-img-top {
  border: 0;
  border-top: 0;
}

.card-body {
  background-color: #F7F7F7;
  border: 0;
}

.header {
  color: #C6C6C6;
  font-size: 55px;
  font-weight: 500;
  text-align: center;
}

.about-img {
  background-image: url("/images/contruction-site.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #1E2D3B;
}

.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

hr {
  border: 4px solid #008AFC;
  width: 90px;
}

.main-intro {
  font-size: 70px;
  color: #3B3A3A;
}

span {
  display: block;
}

#nav-text,
a,
a:active {
  color: white;
}

#navbarText {
  font-size: 25px;
}

a:hover {
  color: #008AFC;
}

.bold {
  font-weight: bold;
}

#brand,
#brand:hover {
  LINE-HEIGHT: 30px;
  letter-spacing: 3px;
  font-size: 30px;
  color: white;
}

.nav-item {
  margin-right: 50px;
  font-weight: lighter;
}

.contact {
  width: 100%;
  height: fit-content;
  background-color: white;
}

.contact-title {
  font-size: 60px;
  font-weight: bold;
}

.address {
  font-size: 40px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.box {
  display: inline-block;
  text-align: left;
  margin: 30px;
}

.tel {
  color: #C6C6C6;
  font-size: 60px;
  font-weight: bolder;
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: #1E2D3B;
}

.footer-text {
  color: #C6C6C6;
  font-size: 20px;
  padding: 10px;
}

#nav-item {
  margin-left: 50%;
}
